.title {
	font-family: "Arial Black";
	font-size: 35px;
}

.subtitle {
	font-family: "Arial";	
	font-size: 25px;
}

.jumbotron {
/*	background-image: url(/img/jumbotron.jpg);*/
/*	background-size: cover;*/
/*	height: 100%;*/
/*	border-radius: 0px;*/
}

.nav-link {
	font-family: "Arial";
	font-size: 20px;
}

article {
	font-family: "Arial";
}

article p {
    text-align: justify;
    text-justify: inter-word;
}