<div id="home-jumbotron" class="jumbotron text-center">
    <h1 class="title">{{ .Site.Title }}</h1>
    <h1 class="subtitle">{{ .Site.Params.subtitle }}</h1>
</div>
<header class="navbar sticky-top navbar-expand-md navbar-dark">
    <ul class="navbar-nav m-auto">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
            <a class="nav-link active" href="{{ .URL }}">
            {{ if .Pre }}
            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
            </a>
        </li>
        {{ end }}

    </ul>
</header>